*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #470047;
}

.nav {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    border-bottom: 2px solid red;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000035;
}
@media screen and (max-width:768px) {
    .nav{
        flex-wrap: wrap;
    }
    .nav .right{
        display: none;
    }
.nav .ham{
    display: block;
}
}

@media screen and (min-width:900px) {
.nav .ham{
    display: none;
}
    
}
.nav .left {
    display: inline-flex;
    gap: 20px;
    align-items: center;
}

.nav img {
    height: auto;
    width: 80px;
    border: 2px solid gold;
    border-radius: 50%;
}

.nav h2 {
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.nav ul li {
    display: inline-block;
    padding-right: 20px;
    color: white;
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.nav li:hover {
    transform: scale(1.2);
}

.nav button {
    padding: 10px;
    background: linear-gradient(to right, gold, rgba(243, 229, 147, 0.842));
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 50px;

}
.nav .ham{
    color: white;
    font-size: 30px;
}

.second {
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    justify-content: space-between;
    text-align: left;
    background-color: #000035;
    padding-bottom: 100px;
    position: relative;
    margin-top: 102px;
    width: 100%;

}

@media screen and (max-width:768px) {
    .second .image{
        display: none;
    }
    .second .word h1{
        font-size: 45px;
        text-align: center;
    }

    .second .word h3{
        font-size: 40px;
        text-align: center;
    }

    .second .word p{
        font-size: 18px;
        text-align: center;
    }
}

.second h2 {
    padding: 15px;
    color: goldenrod;
    text-align: left;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 1.5px;
    margin-bottom: 20px;
    position: relative;
    margin-left: 50px;
}

.second h2::before {
    content: '';
    background-color: goldenrod;
    height: 5px;
    width: 50px;
    position: absolute;
    display: inline-block;
    transform: translateX(-120%);
    top: 50%;
}

.second h5 {
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgba(goldenrod 0.5);
}

.second h1 {
    text-align: left;
    color: white;
    font-size: 60px;
}

.second h3 {
    text-align: left;
    font-size: 50px;
    margin-top: 10px;
    background: linear-gradient(90deg, gold, #097543);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.second p {
    text-align: left;
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
}

.let {
    color: goldenrod;
    top: 0px;
    position: absolute;
    margin-left: 80px;
    opacity: 45%;
    animation: let 2.5s ease infinite;
    font-weight: 300;

}

@keyframes let {
    0% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}


.partnership .partner {
    color: crimson;
    opacity: 50%;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    margin-left: 350px;
    animation: partner 2s ease-in-out infinite;
}

@keyframes partner {
    0% {
        transform: translateY(-5px);
    }

    75% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(5px);
    }

}

.image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    right: 5px;
    gap: 30px;
    position: absolute;
    animation: img 2s ease-in-out infinite;
}

@keyframes img {
    0% {
        transform: translateY(-5px);
    }

    75% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(2px);
    }
}



.card img {
    height: 200px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
}

.third {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 100px;
}



.btn button {
    padding: 10px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn button:visited {
    background-color: #ebe786;
}

.container {
    padding-top: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;

}

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        width: 100%;
    }
}

.profile {
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 50px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.profile:hover {
    transform: translateY(-2%);
}

.profile img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;

}

.profile h2 {
    margin-left: 20px;

}

.profile h3 {
    font-size: 13px;
    font-weight: 600;
    background-color: #ebe786;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 20px;
}

.profile p {
    width: 90%;
    line-height: 30px;
    margin-left: 20px;
    text-align: justify;
    word-spacing: 0.5px;

}

.profile i {
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 100px;
    margin-left: 20px;
}

.profile .fa-x {
    color: #ccc;
}

.profile .fa-x:hover {
    color: #1da1f2;
}

.profile .fa-instagram {
    color: #ccc;
}

.profile .fa-instagram:hover {
    color: #c13584;
}

.fourth {
    background-color: #470047;
    border-top: 4px solid red;
    padding-bottom: 100px;
}

.fourth img {
    height: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 30px;
}

.fourth .one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 768px) {
    .fourth .one {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
.middle{
    margin-top: 20px;
}
    .mid{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .mid-mid{
        gap: 30px;
    }

    .mid-mid h2{
        font-size: 18px;
        margin-bottom: 10px ;
    }
    .new{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .fourth{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .mid .back{
        margin-bottom: 10px;
    }

}

.one i {
    color: white;
    font-size: 30px;
    margin-right: 20px;
    background: red;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    animation: fa 1s ease-in-out infinite;

}

@keyframes fa {
    0% {
        transform: scale(2px);
    }

    100% {
        transform: scale(20px);
    }
}



.middle {
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle .one-3 i {
    font-size: 30px;
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 50%;
    color: white;
}

.mid span {
    align-content: center;
}

.middle h2 {
    color: goldenrod;
}

.middle p {
    color: white;
}

.mid i {
    color: goldenrod;
    font-size: 20px;
}

.middle span {
    display: flex;
    align-items: center;
}

.middle button {
    background-color: goldenrod;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
}

.back h2 {
    text-align: right;
}


.last {
    display: flex;
    padding: 20px;
    width: 100%;
}

@media screen and (max-width:768px) {
    .last{
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        gap: 15px;
}
.last .list{
    margin-left: 0px;
    padding-left: 0px;
}

.last .contact{
    margin-left: 0px;
    padding: 0px;
}
}

.last h2 {
    color: goldenrod;
    margin-bottom: 10px;
}

.last p {
    color: white;
    line-height: 30px;
}

.list {
    margin-left: 50px;
}

.last ul li {
    list-style: none;
    color: white;
    margin-bottom: 20px;
}

.contact {
    margin-left: 300px;
}

.contact span {
    display: flex;
    align-items: center;
    gap: 10px;
}


.contact span i {
    color: goldenrod;
}

.footer {
    background-color: #470047;
    border-top: 1px solid white;
    padding: 10px;
    padding-bottom: 30px;
    width: 90%;
    margin-left: 50px;
    margin-right: 10px;
    color: white;
    justify-content: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {
    .footer{
        font-size: 15px;
    }
    
}