body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #000035;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000035;
}

.nav .left {
    display: inline-flex;
    gap: 20px;
    align-items: center;
}

.nav img {
    height: auto;
    width: 80px;
    border: 2px solid gold;
    border-radius: 50%;
}

.nav h2 {
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.nav ul li {
    display: inline-block;
    padding-right: 20px;
    color: white;
    list-style: none;
    margin-right: 20px;

}

.nav button {
    padding: 10px;
    background: linear-gradient(to right, gold, rgba(243, 229, 147, 0.842));
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 50px;

}

.second {
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    justify-content: space-between;
    text-align: left;
    border-top: 2px solid red;
    background-color: #000035;
    padding-bottom: 100px;

}

.second h2 {
    padding: 15px;
    color: goldenrod;
    text-align: left;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 1.5px;
    margin-bottom: 20px;
}

::after .second h2 {
    content: '';
    color: goldenrod;
    height: 20px;

}

.second h1 {
    text-align: left;
    color: white;
    font-size: 60px;
}

.second h3 {
    text-align: left;
    font-size: 50px;
    margin-top: 10px;
    background: linear-gradient(90deg, gold, #097543);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.second p {
    text-align: left;
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
}

.image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    gap: 20px;
}

.card img {
    height: 200px;
    padding-left: 10px;
    background-color:rgba(255, 255, 255, 0.05);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
}

.third {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 100px;
}



.btn button {
    padding: 10px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn button:visited {
    background-color: #ebe786;
}

.container {
    padding-top: 30px;
    width: 90%;
    display: flex;
}

.profile {
    width: 30%;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 50px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.profile:hover {
    transform: translateY(-2%);
}

.profile img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}

.profile h2 {
    margin-left: 20px;

}

.profile h3 {
    font-size: 13px;
    font-weight: 600;
    background-color: #ebe786;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 20px;
}

.profile p {
    width: 90%;
    line-height: 30px;
    margin-left: 20px;
    text-align: justify;
    word-spacing: 0.5px;

}

.profile i {
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 100px;
    margin-left: 20px;
}

.profile .fa-x {
    color: #ccc;
}

.profile .fa-x:hover {
    color: #1da1f2;
}

.profile .fa-instagram {
    color: #ccc;
}

.profile .fa-instagram:hover {
    color: #c13584;
}

.fourth {
    background-color: #000035;
    border-top: 4px solid red;
    padding-bottom: 100px;
}

.fourth img{
    height: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 30px;
}

.fourth .one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.one i {
    color: white;
    font-size: 30px;
    margin-right: 20px;
    background: red;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;

}

.middle {
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle .one-3 i {
    font-size: 30px;
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 50%;
    color: white;
}

.mid span {
    align-content: center;
}

.middle h2 {
    color: goldenrod;
}

.middle p {
    color: white;
}

.mid  i {
    color: goldenrod;
    font-size: 20px;
}

.middle span {
    display: flex;
    align-items: center;
}

.middle button {
    background-color: goldenrod;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
}
.back h2{
    text-align: right;
}


.last {
    display: flex;
    padding: 20px;
    width: 100%;
}

.last h2 {
    color: goldenrod;
    margin-bottom: 10px;
}

.last p {
    color: white;
    line-height: 30px;
}

.list {
    margin-left: 50px;
}

.last ul li {
    list-style: none;
    color: white;
    margin-bottom: 20px;
}

.contact {
    margin-left: 300px;
}

.contact span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact span i {
    color: goldenrod;
}

.footer {
    background-color: #000035;
    border-top: 1px solid white;
    padding: 10px;
    padding-bottom: 30px;
    width: 90%;
    margin-left: 50px;
    margin-right: 10px;
    color: white;
    justify-content: center;
     display: inline-flex;
    justify-content: center;
    align-items: center;
}
